:root {
    --toastify-color-error: #fff !important;
    --toastify-color-info: #fff !important;
    --toastify-color-success: #fff !important;
    --toastify-color-warning: #fff !important;

    --toastify-color-dark: rgba(0, 0, 0, 0.2) !important;
    --toastify-toast-shadow: none !important;
}

.Toastify__toast-theme--dark {
    backdrop-filter: blur(3px) !important;
    border: 1px solid rgb(34, 34, 34) !important;
}

.Toastify__toast-theme--light {
    backdrop-filter: blur(3px) !important;
    border: 1px solid rgb(34, 34, 34) !important;
}

.indentification--inner {
    position: relative;
    height: 100vh;
}

.toggleIndentification {
    background: none;
    border: none;
    font-size: 1rem;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
}

.form__inner {
    position: relative;
}