:root {
    --toastify-color-error: #fff !important;
    --toastify-color-info: #fff !important;
    --toastify-color-success: #fff !important;
    --toastify-color-warning: #fff !important;

    --toastify-color-dark: rgba(0, 0, 0, 0.2) !important;
    --toastify-toast-shadow: none !important;
}

.Toastify__toast-theme--dark {
    backdrop-filter: blur(3px) !important;
    border: 1px solid rgb(34, 34, 34) !important;
}

.Toastify__toast-theme--light {
    backdrop-filter: blur(3px) !important;
    border: 1px solid rgb(34, 34, 34) !important;
}

.heading {
    font-size: 2rem;
    margin-bottom: 20px;
}

.text {
    font-size: 1rem;
}


.block--center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

label {
    font-size: 1.3rem;
}

input {
    width: 91%;
    height: 35px;
    border-radius: 20px;
    border: none;
    margin-bottom: 15px;
    outline: none;
    padding: 0 15px;
}

.input--error {
    background: rgb(60, 60, 60);
    color: #fff;
}

.close-button {
    width: 50px;
    height: 50px;

    position: absolute;
    right: 0;
    top: 0;

    margin-top: 15px;
    margin-right: 15px;

    cursor: pointer;
}