%for-blocks {
    border: 1px solid rgb(34, 34, 34);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 2rem;
}

%time-animation {
    transition: .3s;
}

%icons {
    width: 54px;
    height: 54px;

    path {
        stroke: #fff;
        stroke-width: 2.5px;
    }
}

.wrapper {
    padding: 1em;
    height: 100vh;
    box-sizing: border-box;
}

.wrapper__inner {
    @extend %for-blocks;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.icon--item {
    &.password {
        path {
            stroke-width: 1px;
        }
    }

    &.back {
        transform: rotate(180deg);
        position: absolute;
        cursor: pointer;
        margin: 20px;
    }

    @extend %icons;
}

.wrapper__block {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item--name{
    font-size: 48px;
}