%for-blocks {
    border: 1px solid rgb(34, 34, 34);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 2rem;
}

%blocks-styles {
    @extend %for-blocks;
    z-index: 0;
}

%icons {
    width: 54px;
    height: 54px;
    z-index: 1;
    cursor: pointer;

    path {
        stroke-width: 3px;
    }
}

%time-animation {
    transition: .3s;
}

.wrapper {
    padding: 1rem;
    height: 100vh;
    box-sizing: border-box;
}

.profile {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 90px auto;
    gap: 1rem;
    grid-template-areas:
        "profile__aside profile__elements";

    &.profile--open {
        grid-template-columns: 195px auto;
    }

    @extend %time-animation;
}

.profile__aside {
    grid-area: profile__aside;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    position: relative;
    overflow-x: hidden;

    @extend %blocks-styles;
}

.indicator {
    position: absolute;
    width: 2px;
    height: 58px;
    background-color: aliceblue;
    border-radius: 5px;
    left: 0;
    top: 100.5px;

    @extend %time-animation;
}

.icon {
    @extend %icons;
}

.conteiner-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 25px;

    .icon--hamburger {
        width: 46px;
        height: 46px;
        margin: 5px 0 15px 5px;
    }

    .icon--close {
        width: 40px;
        height: 40px;
        margin: 5px 0 21px 5px;

        path {
            stroke-width: 2.1px;
        }
    }

    .icon--profile {
        path {
            stroke-width: 2.1px;
        }
    }

    .icon--files {
        width: 50px;
        height: 50px;
        margin: 5px 0 5px 1px;
    }

    .icon--settings {
        width: 53px;
        height: 53px;

        path {
            stroke-width: 4px;
        }
    }

    .icon--logout {
        path {
            stroke-width: 2.3px;
        }
    }
}

.conteiner-icon:last-child {
    margin-top: auto;
}

.info-block {
    position: absolute;
    top: 1;
    right: -102px;
    width: 100px;
    height: 100px;
    z-index: 2;
    @extend %for-blocks;
    @extend %time-animation;
}

.profile__elements {
    grid-area: profile__elements;

    @extend %blocks-styles;
}