%for-blocks {
    border: 1px solid rgb(34, 34, 34);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 2rem;
}

%blocks-styles {
    @extend %for-blocks;
    z-index: 0;
}

%icons {
    width: 75px;
    height: 75px;
    z-index: 1;
    cursor: pointer;

    path {
        stroke-width: 2px;
    }
}

.wrapper {
    padding: 1rem;
    height: 100vh;
    box-sizing: border-box;
}

.profile {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100px auto;
    gap: 1rem;
    grid-template-areas:
        "profile__aside profile__elements";
}

.profile__aside {
    grid-area: profile__aside;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    position: relative;

    @extend %blocks-styles;
}

.icon-profile {
    @extend %icons;
}

.icon-profile:nth-child(2) {
    width: 55px;
    height: 55px;
}

.icon-profile:nth-child(3) {
    width: 60px;
    height: 60px;
    margin-top: 5px;

    path {
        stroke-width: 3px;
    }
}

.icon-profile:nth-child(4) {
    width: 60px;
    height: 60px;
    margin-top: auto;

    path {
        stroke-width: 2px;
    }
}

.info-block {
    position: absolute;
    top: 1;
    right: -120px;
    width: 100px;
    height: 100px;
    z-index: 2;
    @extend %for-blocks;
    transition: .2s;
    background-color: aliceblue;
}

.profile__elements {
    grid-area: profile__elements;

    @extend %blocks-styles;
}